 body {
    font-family: 'Times New Roman', Times, serif;
    background-color: yellowgreen;
    color: black;
    padding: 20px;
}

h1 {
    color: black;
    font-weight: bold;
}

div {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); green, blue, alpha);
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity 2s;
}
